<template>
  <div class="pagination"  v-if="buttons.length > 1">
    <div class="pagination__buttons">
      <c-button circle @click.prevent="changePage(1)">⏪</c-button>
      <c-button circle @click.prevent="changePage((currentPage - 1) > 1 ? currentPage - 1 : 1 )">◀</c-button>
      <div class="pagination__buttons_center">
        <c-button
          circle
          v-for="item of buttons"
          @click.prevent="changePage(item.value)"
          :key="item.value"
          :class="buttonActive(item.value)"
        >
          {{ item.value }}
        </c-button>
      </div>
      <c-button circle @click.prevent="changePage((currentPage + 1) < 50 ? currentPage +1 : 50)">▶</c-button>
      <c-button circle @click.prevent="changePage(buttons.length)">⏩</c-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'pagination',
  props: {
    limit: {
      type: Number,
      required: true
    },
    total: {
      type: Number,
      required: true
    },
    currentPage: {
      type: Number,
      required: true
    }
  },
  methods: {
    changePage(goToPage) {
      if (goToPage === this.currentPage) return;
      this.$emit("update:currentPage", goToPage);
    },
    buttonActive(page) {
      return {
        active: this.currentPage === page
      }
    }
  },
  computed: {
    pagesCount() {
      return Math.ceil(this.total / this.limit);
    },
    buttons() {
      const array = [];
      for (let i = 1; this.pagesCount >= i; i += 1) {
        array.push({
          value: i,
        });
      }
      return array;
    },
    sort() {
      return this.$store.state.tasks.params.sort;
    },
    page() {
      return this.$store.state.tasks.params.page;
    },
    order() {
      return this.$store.state.tasks.params.order;
    }
  }
};
</script>

<style lang="scss" scoped>
.pagination {
  width: 100%;
  display: flex;
  align-items: center;

  &__buttons {
    display: flex;
    align-items: center;
    &_center {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 25px;
      button {
        margin: 3px;
      }
    }
  }
}
</style>
