<template>
  <div class="main__component">
    <div class="auth">
      <div class="auth__container">
        <h1 class="main__title auth__title">Forgot your password?</h1>
        <h2 class="main__subtitle auth__subtitle">
          Enter your e-mail address below.
        </h2>
        <form class="form">
          <input-component
            type="email"
            label="E-mail address"
            placeholder="example@gmail.com"
            id="fp_input_email"
          ></input-component>
          <c-button type="primary" size="big" shadow>Remind password</c-button>
          <router-link class="form__link" to="sign-in"
            >Back to sign in</router-link
          >
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import '../../../sass/variables';
</style>
