<template>
  <div class="main__component">
    <div class="auth">
      <div class="auth__container">
        <h1 class="main__title auth__title">Sign in to AddUrl</h1>
        <h2 class="main__subtitle auth__subtitle">Enter your details below.</h2>
        <form class="form" v-on:submit.prevent="onSubmit(email, password)">
          <input-component
            type="email"
            label="E-mail address"
            placeholder="example@gmail.com"
            id="si_input_email"
            v-model="email"
          ></input-component>
          <input-component
            type="password"
            label="Password"
            placeholder="Enter your password"
            id="si_input_pass"
            v-model="password"
          ></input-component>
          <c-button type="primary" size="big" shadow>Login</c-button>
          <router-link class="form__link" to="password"
            >Forgot password?
          </router-link>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { LOGIN } from '../../../vuex/types';

export default {
  data() {
    return {
      email: null,
      password: null
    }
  },
  methods: {
    onSubmit(email, password) {
      this.$store
        .dispatch(LOGIN, { email, password })
        .then(() => this.$router.push({ name: "articles" }));
    }
  }
};
</script>

<style lang="scss" scoped></style>
