<template>
  <div class="main__component">
    <div class="auth">
      <div class="auth__container">
        <h1 class="main__title auth__title">Create a new account</h1>
        <h2 class="main__subtitle auth__subtitle">
          Type your e-mail to get 50 links indexed for free.
        </h2>
        <h2 class="main__subtitle auth__subtitle">No credit card needed.</h2>
        <form class="form" v-on:submit.prevent="onSubmit()">
          <input-component
            type="email"
            label="E-mail address"
            placeholder="example@gmail.com"
            id="su_input_email"
            v-model="email"
          ></input-component>
          <input-component
            type="password"
            label="Password"
            placeholder="5 + characters"
            id="su_input_pass"
            v-model="password"
          ></input-component>
          <c-button type="primary" size="big" shadow>Continue</c-button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { REGISTER } from '../../../vuex/types';

export default {
  data() {
    return {
      email: '',
      password: '',
    }
  },
  methods: {
    onSubmit() {
      this.$store
        .dispatch(REGISTER, {
          email: this.email,
          password: this.password,
        })
        .then(() => this.$router.push({ name: "tasks" }));
    }
  }
};
</script>

<style lang="scss" scoped></style>
