// Variables
$black-color: #000000;
$white-color: #ffffff;
$gray-color-dark: #999999;
$gray-color-01: #A6A6A6;
$gray-color-02: rgba(0, 0, 0, 0.4);
$light-color: #F7F7F7;
$light-gray-color: #CCCCCC;
$light-blue-color: rgba(22, 73, 204, 0.5);

$main-font: "Roboto", sans-serif;

$border-radius-01: 35px;
$border-radius-02: 25px;

$header-bg-color: #FAFAFA;
$table-bg-color: #FAFAFA;
$body-bg-color: #FFFFFF;

$body-bg-color-dark: #202020;
$header-bg-color-dark: #545454;
$table-bg-color-dark: #1A1A1A;

$heading-text-color: $black-color;
$header-items-color: $light-gray-color;
$body-text-color: $gray-color-01;
$ordinary-text-color: $gray-color-02;
$table-headlines-color: $light-gray-color;

$heading-text-color-dark: $white-color;
$body-text-color-dark: $light-color;
$ordinary-text-color-dark: $white-color;
$table-headlines-color-dark: $white-color;

$btn-primary-bg-color: linear-gradient(260.81deg, #1649CC 0%, #520CAB 100%);
$btn-primary-hover-bg-color: linear-gradient(260.81deg, #2D61E8 0%, #690FDB 100%);
$btn-primary-active-bg-color: linear-gradient(260.81deg, #11399E 0%, #3B097B 100%);
$btn-submit-text-color: $white-color;

$btn-shadow: 0px 4px 40px #342ABC;
$btn-hover-shadow: 0px 2px 40px #342ABC;
$btn-active-shadow: 0px 2px 20px #342ABC;

$btn-submit-border-radius: $gray-color-01;
$btn-sign-border-radius: $border-radius-02;

$input-border-radius: $border-radius-01;
$input-group-color: $light-gray-color;
$input-border: 1px solid $input-group-color;
$input-padding-horizontal: 22px;
$input-padding-vertical: 15px;


$support-link-color: $light-blue-color;



// Mixins
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin text ($font, $size, $color: #000000, $weight: 500, $line-height: 1) {
  color: $color;
  line-height: $line-height;
  font: {
    size: $size;
    family: $font;
    weight: $weight;
  }
}

@mixin flex ($align-items: center,$justify-content: flex-start){
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}





