@import "../../node_modules/normalize-scss/fork-versions/default/normalize.scss";
@import "variables";

*{
  box-sizing: border-box;
}

body,html{
  overflow-x:hidden;
}

body{
  background-color: $body-bg-color;
  font-family: $main-font;
}

#app{
  min-height: 100vh;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
}

.dark{
  background-color: $body-bg-color-dark;
  h1{
    color: $heading-text-color-dark;
  }
  h2{
    color: $body-text-color-dark;
  }
}
