<template>
  <div class="form__input_group">
    <label class="form__label" :for="id">{{ label }}</label>
    <input
      class="form__input"
      :id="id"
      :type="type"
      :placeholder="placeholder"
      :value="value"
      @input="handleInput"
    />
    <!--v-model="$v[type].$model"-->
    <div class="form__errors">
      <!--<div-->
        <!--class="form__error"-->
        <!--v-if="!$v.password.required && type === 'password'"-->
      <!--&gt;-->
        <!--Password is required-->
      <!--</div>-->
      <div
        class="form__error"
        v-if="!$v.password.minLength && type === 'password'"
      >
        Password must have at least
        {{ $v.password.$params.minLength.min }} letters.
      </div>
      <div class="form__error" v-if="!$v.password.num && type === 'password'">
        Password must have a number
      </div>
      <div
        class="form__error"
        v-if="!$v.password.uppercase && type === 'password'"
      >
        Password must have a capital letter
      </div>
      <!--<div class="form__error" v-if="!$v.email.required && type === 'email'">-->
        <!--E-mail is required-->
      <!--</div>-->
      <div class="form__error" v-if="!$v.email.incorrect && type === 'email'">
        Incorrect e-mail
      </div>
    </div>
  </div>
</template>

<script>
import { minLength, helpers } from 'vuelidate/lib/validators';

export default {
  props: {
    label: {
      type: String
    },
    placeholder: {
      type: String
    },
    type: {
      type: String,
      default: 'text',
      validator(value) {
        return ['text', 'password', 'email'].indexOf(value) > -1;
      }
    },
    id: {
      type: String
    },
    model: {},
    value: {}
  },
  data() {
    return {
      password: '',
      email: '',
      text: ''
    };
  },
  methods: {
    handleInput(evt) {
      this.$emit('input', evt.target.value);
    }
  },
  validations: {
    password: {
      minLength: minLength(8),
      pass: helpers.regex(
        'pass',
        /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=(.*[a-zA-Z])).{1,20}$/
      ),
      num: helpers.regex('num', /[0-9]/),
      uppercase: helpers.regex('uppercase', /[A-Z]/)
    },
    email: {
      incorrect: helpers.regex(
        'incorrect',
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      )
    },
    text: {}
  }
};
</script>

<style lang="scss" scoped>
@import '../../sass/variables';

.form {
  &__input_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
    width: 100%;
  }

  &__label {
    @include text($main-font, 12px, $gray-color-02, 600);
    color: $gray-color-01;
    letter-spacing: 0.8px;
    margin-left: $input-padding-horizontal;
    margin-bottom: 10px;
  }

  &__input {
    color: $gray-color-02;
    border-radius: $input-border-radius;
    border: $input-border;
    padding: $input-padding-vertical $input-padding-horizontal;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $input-group-color;
      font-weight: 100;
      font-size: 16px;
      letter-spacing: 0.5px;
    }
  }

  &__errors {
    background-color: #ffdddd;
    margin-top: 10px;
    width: 100%;
  }

  &__error {
    padding: 5px $input-padding-horizontal;
    color: $gray-color-01;

    &:last-child {
      margin-bottom: 10px;
    }

    &:first-child {
      margin-top: 10px;
    }
  }
}
</style>
