<template>
  <div class="article_page">
    <div class="article_page__header">
      <h1 class="article_page__title">{{ article.title }}</h1>
      <div class="article_page__info">
        <router-link :to="{ name: 'user', params: { username: article.author.username } }" class="article_page__user">
          <img :src="userImage" @error="setUserImageOnError" alt="Avatar" class="article_page__user_img">
          <div class="article_page__user_info">
            <h4 class="article_page__user_name">{{ article.author.username }}</h4>
            <p class="article_page__user_date">{{ article.updatedAt | dateConversion }}</p>
          </div>
        </router-link>
        <div class="article_page__edit" v-if="isCurrentUser">
          <c-button type="default" class="article_page__edit_button">Edit article</c-button>
          <c-button type="primary">Delete article</c-button>
        </div>
      </div>
    </div>
    <div class="article_page__body">
      <p class="article_page__body_text">{{ article.body }}</p>
    </div>
  </div>
</template>

<script>
  import { FETCH_ARTICLE } from '../../../vuex/types';

  export default {
    name: 'article-page',
    computed: {
      articleSlug() {
        return this.$route.params.slug;
      },
      article() {
        return this.$store.state.article.model;
      },
      userImage() {
        return this.article.author.image;
      },
      isCurrentUser() {
        return this.article.author.username === this.$store.state.session.model.user.username;
      },
      getUserImage: {
        get(){
          return true;
        },
        set(value){
          this.userImage = value;
        }
      },
      defaultImage() {
        return this.$store.state.defaultImage;
      }
    },
    methods: {
      setUserImageOnError() {
        this.userImage = this.defaultImage;
      },
    },
    created() {
      this.$store.dispatch(FETCH_ARTICLE, { slug: this.articleSlug });
    }
  };
</script>

<style lang="scss" scoped>
@import "../../../sass/variables";

.article_page{
  width: 100%;

  &__header{
    padding: 27px 67px 20px 67px;
    background: #323232;
    color: $white-color;
  }

  &__body{
    padding: 0 67px;

    &_text{
      font-size: 22px;
      text-align: center;
      border-bottom: 1px solid $gray-color-01;
      padding: 40px 0;
    }
  }

  &__info{
    display: flex;
    align-items: center;
  }

  &__title{
    text-align: center;
    margin-bottom: 20px;
  }

  &__user{
    display: flex;
    align-items: center;
    color: $white-color;
    text-decoration: none;

    &_img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    &_name{
      font-size: 20px;
      font-weight: 100;
      letter-spacing: .5px;
    }

    &_date{
      font-size: 12px;
    }
  }
  &__edit{
    margin-left: 30px;

    &_button{
      margin-right: 10px;
    }
  }
}
</style>
