<template>
  <div class="articles">
    <article-list></article-list>
  </div>
</template>

<script>
import ArticleList from './ArticleList';

export default {
  name: 'articles',
  components: { ArticleList }
};
</script>

<style lang="scss" scoped>
  .articles{
    width: 70%;
    padding: 20px 0;
  }

</style>
