<template>
  <div class="article">
    <router-link class="article__user" :to="{ name: 'user', params: { username: article.author.username } }">
      <img :src="article.author.image" class="article__img">
      <div class="article__user_info">
        <h4 class="article__user_name">{{ article.author.username }}</h4>
        <p class="article__date">{{ article.updatedAt | dateConversion }}</p>
      </div>
    </router-link>
    <div class="article__body">
      <div>
        <h1 class="article__title">{{ article.title }}</h1>
        <p class="article__description">{{ article.description }}</p>
      </div>
      <router-link :to="{ name: 'article', params: { slug: article.slug } }" class="article__more">Read more...</router-link>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ArticlePreview',
    props: {
      article: {
        type: Object,
        required: true
      }
    },
    computed: {
      defaultImage() {
        return this.$store.state.auth.defaultImage;
      }
    }
  };
</script>

<style lang="scss" scoped>
  @import "../../../sass/variables";

  .article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 20px 20px 25px 20px;
    background-color: $header-bg-color;
    margin-bottom: 20px;

    a{
      text-decoration: none;
    }

    &:last-child{
      margin-bottom: 0;
    }

    &__user{
      text-align: left;
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      &_name{
        color: $black-color;
      }
    }

    &__img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }

    &__title{
      color: $black-color;
    }

    &__description{
      color: $gray-color-02;
      font-size: 19px;
    }

    &__date{
      font-size: 12px;
      color: $light-gray-color;
    }

    &__body{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__more{
      align-self: flex-end;
    }
  }
</style>
