<template>
  <div class="article_list">
    <h4 v-if="isLoading" class="article_list__loading">Loading...</h4>
    <div  v-if="!isLoading">
      <article-preview
        v-for="(article, index) of articles.articles"
        :key="index"
        :article="article"
      ></article-preview>
      <pagination :total="articles.articlesCount" :limit="itemsPerPage" :currentPage.sync="currentPage"></pagination>
    </div>
  </div>
</template>

<script>
import ArticlePreview from './ArticlePreview'
import { FETCH_ARTICLES } from '../../../vuex/types';

export default {
  name: 'article-list',
  props: {
    author: {
      type: String,
      required: false
    },
    type: {
      type: String,
      required: false,
      default: 'all'
    },
    itemsPerPage: {
      type: Number,
      required: false,
      default: 10
    }
  },
  components: {
    ArticlePreview
  },
  data() {
    return {
      currentPage: 1,
    }
  },
  watch: {
    currentPage(newVal) {
      this.listConfig.filters.offset = (newVal - 1) * this.itemsPerPage;
      this.fetchArticles();
    }
  },
  computed: {
    articles() {
      return this.$store.state.articles.list;
    },
    listConfig() {
      const filters = {
        offset: (this.currentPage - 1) * this.itemsPerPage,
        limit: this.itemsPerPage
      };
      if (this.author) {
        filters.author = this.author;
      }
      if (this.favorited) {
        filters.favorited = this.favorited;
      }
      return {
        filters
      }
    },
    isLoading() {
      return this.$store.state.isLoading;
    }
  },
  created() {
    this.fetchArticles();
  },
  methods: {
    fetchArticles() {
      this.$store.dispatch(FETCH_ARTICLES, this.listConfig);
    }
  }
};
</script>

<style lang="scss" scoped>
  .article_list{
    margin: 0 auto;
    &__loading{
      text-align: center;
      font-size: 22px;
      padding-top: 20px;
    }
  }
</style>
