<template>
  <div class="new_article">
    <h1 class="new_article__headline">New Article</h1>
    <form @submit.prevent="onSubmit">
      <input-component label="Article title" v-model="article.title"></input-component>
      <input-component label="What's this article about?" v-model="article.description"></input-component>
      <label for="new_article__textarea">Write your article</label>
      <textarea class="new_article__textarea" id="new_article__textarea" rows="10" v-model="article.body"></textarea>
      <c-button type="primary">Publish</c-button>
    </form>
  </div>
</template>

<script>
  import { CREATE_ARTICLE } from '../../../vuex/types'

  export default {
    name: 'new-article',
    data() {
      return {
        article: {
          title: '',
          description: '',
          body: ''
        }
      }
    },
    methods: {
      onSubmit() {
        this.$store.dispatch(CREATE_ARTICLE, this.article);
      }
    }
  };
</script>

<style lang="scss" scoped>
#new_article__textarea{
  resize: none;
  width: 100%;
}

.new_article{
  padding: 30px 0;

  &__textarea{
    border-radius: 30px;
  }
}

</style>
