<template>
  <div id="Header" class="Header">
    <img src="../../assets/logo.png" alt="Logo" class="Header__logo" />
    <div class="Header__panel" v-if="isSignIn">
      <span class="Header__question">Already have an account?</span>
      <c-button type="default" :to="{ name: 'sign-up' }">Sign up Free</c-button>
    </div>
    <div class="Header__panel" v-else-if="isSignUp">
      <span class="Header__question">Don't have an account?</span>
      <c-button type="default" :to="{ name: 'sign-in' }">Sign in</c-button>
    </div>
    <div class="nav Header__nav" v-else>
      <router-link class="nav__link" :to="{ name: 'articles' }">Articles</router-link>
      <router-link class="nav__link" :to="{ name: 'new' }">New article</router-link>
      <router-link class="nav__link" :to="{ name: 'settings' }">Settings</router-link>
      <router-link class="nav__user" :to="{ name: 'user', params: { username: `${ userName }` } }">
        <img class="nav__user_photo" :src="userImage ? userImage : defaultImage">
        <p class="nav__link nav__user_name">{{ userName }}</p>
      </router-link>
      <button class="nav__link nav__logout" @click="logout">Log out</button>
    </div>
  </div>
</template>

<script>
import { LOGOUT } from '../../vuex/types';

export default {
  name: 'header-component',
  computed: {
    defaultImage() {
      return this.$store.defaultImage;
    },
    isSignUp() {
      return this.$route.name === 'sign-up' || this.$route.name === 'password';
    },
    isSignIn() {
      return this.$route.name === 'sign-in';
    },
    userName() {
      return this.$store.state.session.model.user.username;
    },
    userImage() {
      return this.$store.state.session.model.user.image;
    }
  },
  methods: {
    logout() {
      this.$store.dispatch(LOGOUT).then(() => {
        this.$router.push({ name: "sign-in" });
      });
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../sass/variables';

.Header {
  width: 100%;
  background-color: $header-bg-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 68px;

  &__logo {
    width: 91px;
  }

  &__panel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include flex(center, flex-end);
  }

  &__question {
    color: $header-items-color;
    font-size: 14px;
    margin-right: 20px;
  }

  .nav {
    display: flex;
    align-items: center;

    &__link {
      margin-left: 20px;
      text-decoration: none;
      color: $body-text-color;
      font-weight: 100;
      &:hover{
        color: #2C32C0;
      }
    }

    .router-link-active, .router-link-active .nav__user_name{
      color: #2C32C0;
    }

    &__logout{
      border: none;
      background-color: transparent;
      cursor: pointer;
      &:focus{
        outline: none;
      }
    }

    &__user{
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-left: 10px;
      text-decoration: none;

      &_name{
        color: $body-text-color;
        display: inline-block;
        &:hover{
          color: #2C32C0;
        }
      }

      &_photo {
        width: 23px;
        border-radius: 50%;
        margin: -2px -10px 0 10px;
      }
    }

  }
}
</style>
