<template>
  <div class="profile">
    <div class="profile__user">
      <img :src="currentUser.image ? currentUser.image : defaultImage" alt="Avatar" class="profile__photo">
      <h1 class="main__subtitle profile__name">{{ currentUser.username }}</h1>
      <c-button class="profile__edit" type="default" :to="{name: 'settings'}">Edit profile</c-button>
    </div>
    <article-list :author="currentUser.username" :itemsPerPage="5"></article-list>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import ArticleList from '../Articles/ArticleList'

  export default {
    name: 'Profile',
    components: {
      ArticleList
    },
    computed: {
      currentUser() {
        return this.$store.state.auth.user;
      },
      defaultImage() {
        return this.$store.state.auth.defaultImage;
      }
    }
  };
</script>

<style lang="scss" scoped>
  @import '../../../sass/variables';

  .profile{
    width: 100%;

    &__photo{
      width: 100px;
      border-radius: 50%;
    }

    &__user{
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #323232;
      width: 100%;
    }

    &__name{
      font-size: 23px;
      color: $white-color;
    }

    &__edit{
      margin-top: 10px;
    }
  }
</style>
