<template>
  <div class="settings">
    <h1 class="main__title settings__title">Change your data</h1>
    <form class="settings__form" v-on:submit.prevent="updateSettings()">
      <input-component label="Image" v-model="currentUser.image" placeholder="URL of profile picture"></input-component>
      <input-component label="User name" v-model="currentUser.username" :placeholder="currentUser.username"></input-component>
      <input-component label="User e-mail" type="email" v-model="currentUser.email" :placeholder="currentUser.email"></input-component>
      <input-component label="User password" type="password" v-model="currentUser.password" placeholder="New password"></input-component>
      <c-button type="primary" size="big" shadow>Change</c-button>
    </form>
  </div>
</template>

<script>
  import { UPDATE_USER } from '../../../vuex/types'

  export default {
    name: 'settings',
    computed: {
      currentUser() {
        return this.$store.state.session.model.user;
      }
    },
    methods: {
      updateSettings() {
        this.$store.dispatch(UPDATE_USER, this.currentUser).then(() => {
          this.$router.push({ name: "user", params: { username: this.currentUser.username } });
        });
      },
    }
  };
</script>

<style lang="scss" scoped>
  .settings{
    width: 440px;
    padding: 20px 0;

    &__title{
      margin-bottom: 25px;
    }

    &__form{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
</style>
