<template>
  <div class="main__component">
    <div class="task_edit">
      <form>
        <input-component
          label="Task ID"
          v-model="task.taskId"
          type="text"
        ></input-component>
        <input-component label="Title" type="text" v-model="task.title"></input-component>
        <input-component label="Body" type="text" v-model="task.body"></input-component>
        <div class="task_edit__buttons">
          <c-button
            type="primary"
            size="big"
            v-if="!taskChange"
            @click.prevent="createTask"
          >Add task</c-button>
          <c-button
            type="primary"
            size="big"
            v-else-if="taskChange"
            @click.prevent="createTask"
            >Change task</c-button>
          <c-button type="danger" size="big" @click.prevent="deleteTask">
            Delete task
          </c-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { CREATE_TASK, DELETE_TASK, FETCH_TASK } from '../../../vuex/types';

export default {
  name: 'task-edit',
  data() {
    return {
      task: {
        date: new Date(),
        taskId: null,
        title: null,
        body: null
      },
      taskChange: false
    };
  },
  methods: {
    createTask() {
      this.$store
        .dispatch(CREATE_TASK, this.task)
        .then(() => this.$router.go(-1));
    },
    deleteTask() {
      this.$store
        .dispatch(DELETE_TASK, this.$route.params.id)
        .then(() => this.$router.go(-1));
    }
  },
  created() {
    if (this.$route.params.id) {
      this.$store.dispatch(FETCH_TASK, this.$route.params.id).then(task => {
        this.task = task;
      });
    }
    this.taskChange = !!this.$route.params.id;
  }
};
</script>

<style lang="scss" scoped>
  .task_edit {
    width: 480px;

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
</style>
