<template>
  <div class="main__component">
    <div class="api_list">
      <div class="api_list__container">
        <h1 class="main__title api_list__title">Task List</h1>
        <div class="api_list__heading">
          <h2 class="main__subtitle api_list__subtitle">
            All your tasks are stored here
          </h2>
          <div class="api_list__sort">
            <div class="task_sort__order_arrow" :class="{'desc': order === 'desc'}" @click="setOrder"></div>
          </div>
          <ve-select
            :opened="selectOpened"
            v-on:click="selectOpened = true"
          >
            <ve-option
              v-for="(option, index) of sortOptions"
              :key="index"
              :value="option.value"
              :label="option.label"
              v-on:set-value="setSelectValue(option.value)"
            ></ve-option>
          </ve-select>
        </div>
        <table class="api_list__table">
          <thead class="api_list__row">
            <th class="api_list__head_item">Date</th>
            <th class="api_list__head_item">Task ID</th>
            <th class="api_list__head_item">Title</th>
            <th class="api_list__head_item">Body</th>
            <th></th>
          </thead>
          <tr class="api_list__row" v-for="row of tasks" :key="row.id">
            <td>{{ row.date | dateConversion }}</td>
            <td>{{ row.taskId }}</td>
            <td>{{ row.title }}</td>
            <td>{{ row.body }}</td>
            <td>
              <c-button
                type="link"
                size="small"
                :to="{ path: `/task-edit/${row.id}` }"
              >Change task</c-button>
            </td>
          </tr>
        </table>
        <div class="api_list__buttons">
          <pagination
            :limit="limit"
            :total="tasksTotal"
          ></pagination>
          <c-button
            type="primary"
            to="task-edit"
          >Create a new task</c-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { TASKS, FETCH_TASKS, FETCH_TOTAL, SET_TASKS_PARAMS } from '../../../vuex/types';

export default {
  name: 'APIList',
  data() {
    return {
      selected: '',
      sort: this.sortParam,
      limit: 5,
      sortOptions: [
        {
          label: 'Date',
          value: 'date'
        },
        {
          label: 'Task ID',
          value: 'taskId'
        },
        {
          label: 'Title',
          value: 'title'
        },
        {
          label: 'Body',
          value: 'body'
        }
      ],
      selectOpened: false,
    }
  },
  computed: {
    tasks() {
      return this.$store.state[TASKS].list;
    },
    tasksTotal() {
      return this.$store.state.tasks.total
    },
    sortParam: {
      get() {
        return this.$store.state.tasks.params.sort;
      },
      set(sortParam) {
        this.$store.dispatch(SET_TASKS_PARAMS, { sort: sortParam, page: this.page, order: this.order });
      }
    },
    order() {
      return this.$store.state.tasks.params.order;
    },
    page() {
      return this.$store.state.tasks.params.page;
    }
  },
  methods: {
    getTasks() {
      this.$store.dispatch(FETCH_TASKS, { page: this.$route.query.page, limit: this.limit, sort: this.$route.query.sort, order: this.order });
    },
    getTasksTotal() {
      this.$store.dispatch(FETCH_TOTAL);
    },
    setSortQuery() {
      this.$router.push({ query: { sort: this.sortParam, page: this.page, order: this.order } });
    },
    setOrder() {
      this.$store.dispatch(SET_TASKS_PARAMS,{ sort: this.sortParam, page: this.page, order: this.order === 'asc' ? 'desc' : 'asc' });
      this.$router.push({ query: { sort: this.sortParam, page: this.page, order: this.order } })
    },
    setQueryFromLink() {
      if(Object.keys(this.$route.query).length !== 0) {
        this.$store.dispatch(SET_TASKS_PARAMS,this.$route.query);
      }
    },
    setSelectValue(optionValue) {
      this.sortParam = optionValue;
      this.setSortQuery();
      this.selectOpened = false;
    }
  },
  provide() {
    return {
      sortParam: this.sortParam
    };
  },
  created() {
    this.getTasks();
    this.getTasksTotal();
    this.setQueryFromLink();

  },

  beforeRouteUpdate(to,from,next) {
    this.$store.dispatch(SET_TASKS_PARAMS, to.query);
    next();
  }
};
</script>

<style lang="scss" scoped>
  @import '../../../sass/variables';

  .api_list{
    &__sort{
      display: flex;
      align-items: center;
    }

    &__heading{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    &__buttons{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &__row{
      td{
        &:last-child{
          text-align: center;
        }
      }
    }
  }

  .task_sort{
    margin-right: 10px;

    &__order_arrow{
      width: 10px;
      height: 10px;
      transform: rotate(-45deg);
      border: none;
      border-top: 2px solid black;
      border-right: 2px solid black;
      cursor: pointer;
      background: none;
      display: block;
      margin-bottom: -3px;
    }

    &__order_arrow.desc{
      transform: rotate(135deg);
      margin-bottom: 3px;
    }
  }


</style>
