<template>
  <div id="app">
    <main class="main">
      <header-component></header-component>
      <div class="main__container">
        <transition name="fade" mode="out-in">
          <router-view :key="$route.fullPath"></router-view>
        </transition>
      </div>
    </main>
  </div>
</template>

<script>
import HeaderComponent from './components/Header/HeaderComponent';

export default {
  components: {
    HeaderComponent
  }
};
</script>

<style lang="scss">
@import 'sass/variables';
@import 'sass/base';

.main {
  display: grid;
  grid-template: auto 1fr / 1fr;
  min-height: 100vh;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100% !important;
  }

  &__title {
    @include text($main-font, 26px, $heading-text-color, 900);
    margin-bottom: 15px;
    letter-spacing: 1px;
  }

  &__subtitle {
    @include text($main-font, 17px, $gray-color-01, 500, 1.7);
  }

  &__component {
    @include flex(center, center);
    width: 100%;

    .auth {
      display: flex;
      align-items: center;

      &__container {
        width: 420px;
        text-align: center;
      }

      &__subtitle:last-of-type {
        margin-bottom: 40px;
      }

      .form {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__link {
          color: $support-link-color;
          text-decoration: none;
          font: {
            size: 13px;
            weight: 600;
          }
          margin-top: 20px;
        }
      }
    }

    .api_list {
      max-width: 90%;
      width: 900px;

      &__table {
        width: 100%;
        border-collapse: collapse;
        margin: 40px 0 30px 0;

        thead {
          background-color: $table-bg-color;
        }
      }

      &__row {
        &:nth-of-type(even) {
          background-color: $table-bg-color;
        }

        th {
          text-align: left;
          color: $light-gray-color;
          padding: 10px 20px;
          font: {
            size: 15px;
            weight: 100;
          }
        }

        td {
          padding: 15px 20px;
          color: $gray-color-dark;
          font-size: 17px;
        }
      }
    }
  }
}

// Animation
/*.fade-enter {
  transform: translateX(-20%);
}
.fade-enter-active {
  opacity: 1;
  transition: all 200ms ease-out;
}
.fade-leave-active {
  transform: translateX(20%);
  opacity: 1;
  transition: all 200ms linear;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}*/
</style>
