<template>
  <div class="user_page" >
    <div>
      <div class="user_page__user">
        <img :src="profileData.image" alt="Avatar" class="user_page__photo">
        <h1 class="main__subtitle user_page__name">{{ profileData.username }}</h1>
        <c-button v-if="profileData.username === currentUser.username" class="profile__edit" type="default" :to="{name: 'settings'}">Edit profile</c-button>
      </div>
      <article-list :author="$route.params.username" :itemsPerPage="4"></article-list>
    </div>
  </div>
</template>

<script>
  import { FETCH_PROFILE } from '../../../vuex/types';
  import ArticleList from '../Articles/ArticleList';

  export default {
    name: 'user-page',
    components: {
      ArticleList
    },
    computed: {
      profileData() {
        return this.$store.state.profile.model;
      },
      isLoading() {
        return this.$store.state.isLoading;
      },
      currentUser() {
        return this.$store.state.session.model.user;
      },
      defaultImage() {
        return this.$store.state.defaultImage;
      }
    },
    created() {
      this.$store.dispatch(FETCH_PROFILE, { username: this.$route.params.username })
    }
  };
</script>

<style lang="scss" scoped>
@import '../../../sass/variables';

.user_page{
  width: 100%;

  &__photo{
    width: 100px;
    border-radius: 50%;
  }

  &__user{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #323232;
    width: 100%;
  }

  &__name{
    font-size: 23px;
    color: $white-color;
  }

}

</style>
