<template>
  <button
    type="submit"
    class="btn"
    :class="[
      `btn--${buttonSize} btn__${buttonType}`,
      { disabled: isDisabled, 'btn--shadow': buttonShadow, 'btn--circle': buttonCircle }
    ]"
    @click="handleCLick"
  >
    <span class="btn__bg"></span><slot></slot>
  </button>
</template>

<script>
export default {
  name: 'CButton',
  props: {
    to: {},
    disabled: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: 'default',
      validator(value){
        return ['default', 'primary', 'danger', 'link'].indexOf(value) > -1
      }
    },
    size: {
      type: String,
      default: 'normal'
    },
    shadow: {
      type: Boolean,
      default: false
    },
    circle: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    buttonType() {
      return this.type;
    },
    buttonSize() {
      return this.size;
    },
    buttonShadow() {
      return this.shadow;
    },
    buttonCircle() {
      return this.circle;
    },
    isDisabled() {
      return this.disabled;
    }
  },
  methods: {
    handleCLick(evt) {
      if (!this.disabled) {
        if (this.to) {
          this.$router.push(this.to);
        } else {
          this.$emit('click', evt);
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../../sass/variables';

.disabled {
  opacity: 0.5;
}

.btn {
  position: relative;
  cursor: pointer;
  font-family: $main-font;

  &:focus {
    outline: none;
  }

  &__default {
    border: 1px solid #312dbd;
    background-color: transparent;
    color: #312dbd;
    transition: 0.3s;

    &:hover {
      background: $btn-primary-bg-color;
      color: #fff;
      &:after {
        box-shadow: $btn-hover-shadow;
      }
    }

    &:active {
      transition: 0.3s;

      &:after {
        box-shadow: $btn-active-shadow;
      }
    }
  }

  &__default.active{
    background: $btn-primary-bg-color;
    color: #fff;
  }

  &__primary {
    background: $btn-primary-bg-color;
    border: none;
    color: $btn-submit-text-color;
    letter-spacing: 0.5px;

    &:hover {
      background: $btn-primary-hover-bg-color;

      &:after {
        box-shadow: $btn-hover-shadow;
      }
    }

    &:active {
      background: $btn-primary-active-bg-color;

      &:after {
        box-shadow: $btn-active-shadow;
      }
    }
  }

  &__danger {
    color: red;
    border: 1px solid red;
    background-color: transparent;

    &:hover {
      background-color: #f7f7f7;
    }
  }

  &__link {
    color: $support-link-color;
    background-color: transparent;
    border: none;
    font: {
      weight: 600;
    }
  }

  &--normal {
    padding: 7px 13px;
    font-size: 17px;
    border-radius: $border-radius-02;
  }

  &--big {
    border-radius: $border-radius-01;
    padding: $input-padding-vertical 50px;
    font-size: 17px;
    text-transform: uppercase;
  }

  &--small {
    font-size: 13px;
  }

  &--shadow {
    &:after {
      content: '';
      height: 50%;
      position: absolute;
      bottom: 2px;
      width: 82%;
      left: calc((100% - 83%) / 2);
      box-shadow: $btn-shadow;
      z-index: -1;
      border-radius: 10px;
    }
  }

  &--circle {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
