<template>
  <button class="custom_select__button" @click.stop="handleClick">
    {{ label }}
  </button>
</template>

<script>
  export default {
    name: 've-option',
    props: {
      value: {
        type: String,
        required: true
      },
      label: {
        type: String,
        required: true
      }
    },
    methods: {
      handleClick(evt) {
        return this.$emit('set-value', evt);
      },
      selectOptionClick() {
        this.dispatch('VeSelect', 'handleOptionClick', [this, true]);
      }
    }
  };
</script>

<style scoped>

</style>
