<template>
  <div class="custom_select" :class="{'opened': opened}">
    <div class="custom_select__field" @click="handleClick">
      <input class="custom_select__input" type="text" :value="sortParamView[sortParam]" readonly>
      <div class="arrow"></div>
    </div>
    <div class="custom_select__body">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 've-option',
    props: {
      value: {
        type: String,
        default: 'date',
      },
      opened: Boolean
    },
    inject: ['sortParam'],
    computed: {
      sortParamView() {
        return {
          date: 'Date',
          taskId: 'Task ID',
          title: 'Title',
          body: 'Body'
        }
      },
    },
    methods: {
      handleClick(evt) {
        return this.$emit('click', evt);
      }
    },
    created() {

    }
  };
</script>

<style lang="scss" scoped>
  @import '../../sass/variables';

  .custom_select{
    width: 240px;
    border: 1px solid $gray-color-01;
    border-radius: 20px;
    color: $gray-color-01;
    cursor: pointer;
    position: relative;

    &:hover{
      background-color: rgba(0,0,0,.03);
    }

    &__field{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px;

      .arrow{
        width: 8px;
        height: 8px;
        border-left: 2px solid #000;
        border-bottom: 2px solid #000;
        transform: rotate(-45deg);
        margin-top: -2px;
      }
    }

    &__input{
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: inherit;
      &:focus{
        outline: none;
      }
    }

    &__body{
      display: none;
      position: absolute;
      top: -1px;
      left: -1px;
      width: calc(100% + 2px);
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      border: 1px solid $gray-color-01;
      border-radius: 16px;
      overflow: hidden;
    }

    &__button{
      width: 100%;
      background: none;
      border: none;
      border-bottom: 1px solid $gray-color-02;
      padding: 5px;
      cursor: pointer;
      color: $gray-color-01;
      &:last-child{
        border-bottom: 0;
      }
      &:active, &:focus{
        outline: none;
      }
      &:hover{
        background-color: rgba(0,0,0,.03);
      }
    }
  }
  .custom_select.opened .custom_select__body{
    display: flex;
  }
</style>
